@import "tailwindcss";

@theme {
  --font-sans: var(--font-jakarta-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}